if css['font-family'] == "Times New Roman"
  - var family = "'" + css['font-family'] + "'"
else
  - var family = css['font-family']

doctype html
html(lang="en")
  head
    title= pageTitle
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='../static/ad.js')
    style(type='text/css').
      div.snippet {
        border: 1px dashed #888;
        margin: 50px 30px;
        padding: 0;
        width: #{css.width};
      }

      div.snippet p.measure {
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: #{css.width};
        height: #{css.height};

        font-family:#{family};
        font-variant:#{css['font-variant']};
        font-weight:#{css['font-weight']};
        font-size:#{css['font-size']};
        line-height:#{css['line-height']};
        color:#000000;
      }


      div#done {
        display: hidden;
      }

  body(style="margin: 0px; padding: 0px;")
    div.snippet
      p#ad.measure
